<div class="row g-6 mb-6">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card h-100 shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Event Participants</span
            >
            <span class="h3 font-bold mb-0">{{ event_participants }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
            >
              <i class="bi bi-credit-card"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card h-100 shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Participants of events
            </span>
            <span class="h3 font-bold mb-0">{{ participant_events }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-primary text-white text-lg rounded-circle"
            >
              <i class="bi bi-people"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card h-100 shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Event Schedules</span
            >
            <span class="h3 font-bold mb-0">{{ event_schedules }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-info text-white text-lg rounded-circle"
            >
              <i class="bi bi-clock-history"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Events Total Payments
            </span>
            <span class="h3 font-bold mb-0">{{ events_total_payment }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-warning text-white text-lg rounded-circle"
            >
              <i class="bi bi-minecart-loaded"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card h-100 shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Average paid event price
            </span>
            <span class="h3 font-bold mb-0"
              >{{ average_paid_event_price }}</span
            >
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-warning text-white text-lg rounded-circle"
            >
              <i class="bi bi-minecart-loaded"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
