<header class="my-4">
  <nav class="nav">
    <a class="nav-link" href="{% url 'list-events' %}">Events</a>
    <a class="nav-link" href="{% url 'list-of-schedule' %}">All Shedules</a>
    <a class="nav-link" href="{% url 'list-free-events' %}">Free Events</a>
    <a class="nav-link" href="{% url 'list-paid-events' %}">Paid Events</a>
    <a class="nav-link" href="{% url 'list-upcoming-events' %}"
      >The upcomming events</a
    >
    <a class="nav-link" href="{% url 'event-payments' %}"
      >Event Payment Processing</a
    >
  </nav>
</header>
