{% extends "base_generic.html" %}

{% block content %}
  <h1>Events Payment Processing</h1>
  {% include 'partials/sub-header.html' %}
  <ul class="list-group">
    {% for item in page_obj %}
      <li class="list-group-item">
        <a href="{% url 'payment-detail' payment_id=item.id %}">{{ item.event }} by {{ item.participant }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">No paid event payments available.</li>
    {% endfor %}
  </ul>

  <!-- Pagination -->
  <nav class="mt-4">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          {% if num == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
